services:
  db:
    image: postgres:15
    container_name: sacredjourneys-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: sacredjourneys
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./Backend
    container_name: sacredjourneys-backend
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/sacredjourneys
    depends_on:
      - db

  frontend:
    build:
      context: ./Frontend
    container_name: sacredjourneys-frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  db_data:
